<div class="main">
<h1>Editing Profile</h1>

<%= render 'form', profile: @profile %>

<!--
<<<<<<< HEAD
</div>
=======
<%= link_to 'Back', @profile %>
>>>>>>> 9c52da6e0398dc6dc7a22bd2b4091568b2cd75db
-->
