<div class="main">

<h1>Edit Skill</h1>

<% if flash[:notice] %>
		<div class="notice"><%= flash[:notice] %></div>
<% end %>

<%= render 'profimon_skill_form', profimon_skill: @profimon_skill %>

</div>
