<div class="main" style="text-align: center;">
  <h1>Admin Settings</h1>
  <p style="font-size:1.2em; margin-bottom: 40px;">Select one of the lists below to view/edit:</p>

  <%= link_to 'List of Users' , users_path, class: "profile_form_button", style: "display: inline-block; margin-bottom: 20px;" %>
  <br><%= link_to 'List of Skills' , skills_path, class: "profile_form_button", style: "display: inline-block; margin-bottom: 20px;" %>
  <br><%= link_to 'List of Profimon Skills' , profimon_skills_path, class: "profile_form_button", style: "display: inline-block; margin-bottom: 20px;" %>
</div>
