<div class="main">
  <h1><%= @subject %> <%= @course_number %> in session!</h1>
  <div class="class_info">
    <p>Instructor: <%= @instructor_name %></p>
    <p>Location: <%= @room_number %></p>
  </div>
</div>
