/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import url(//fonts.googleapis.com/css?family=Arvo);

html, body {
  margin: 0;
  padding: 0;
}

body {
   background-color: #440000;
   font-family: 'Arvo', Verdana, sans-serif;
}

div.main {
  width: 85%;
  padding: 30px;
  border-radius: 15px;
  background-color: #EEF2F6;
  margin: 40px auto;
}

h1 {
  font-weight: bolder;
  color: #A23;
  text-align: center;
  font-size: 3em;
}

h2 {
  color: #499;
  font-size: 1.3em;
}
h3 {
  color: #990000;
  font-size: 1.3em;
}

h4.subtitle {
  margin-top: 0;
  margin-bottom: 40px;
  font-size: 1.5em;
  text-align: center;
}

.form_button {
  font-family: 'Arvo';
  font-size: 1em;
  background-color: #A23;
  color: white;
  padding: 5px;
  border-radius: 5px;
  border: 0;
}

.form_button:hover {
  cursor: pointer;
}

.input_field {
  font-family: 'Arvo';
  font-size: 1em;
}

.input_field_center {
  font-family: 'Arvo';
  font-size: 1em;
  width: 300px;
}

.notice {
  text-align: center;
  margin-top: 20px;
  color: red;
}

.navbar-class {
  background-color: black;
  padding: 20px;
}

.navbar-class-right {
  float: right;
}

.navbar-class-right a {
  color: #FF8;
  text-decoration: none;
  margin-left: 20px;
  display: inline-block;
  margin-top: 5px;
}

.radio_buttons {
  margin-top: 20px;
  margin-bottom: 10px;
}

#error_explanation {
  color: red;
}

.admin_nav_links {
  font-size: 1.2em;
  color: #A23;
}

.admin_footer_links {
   text-align: center;
   margin-top: 40px;
   margin-bottom: 20px;
}

.help_info_for_field {
  font-size: 0.6em;
  margin-top: 2px;
  margin-bottom: 20px;
}

#open_help {
  font-family: 'Arvo';
  font-size: 1.2em;
  background-color: #366;
  color: white;
  cursor: pointer;
  padding: 5px 12px;
  border-radius: 5px;
  border: 0;
  float: right;
}

.modal_background {
  display: none;
  position: fixed;
  z-index: 3;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

.help_modal {
  background-color: #EEF2F6;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  border-radius: 15px;
  width: 80%;
  max-height: calc(100vh - 210px);
  overflow-y: auto;
  font-size: 1.1em;
  line-height: 1.8em;
}

#close {
  color: #999;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover, .close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
