// Place all the styles related to the ClassBattles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.class_info {
  text-align: center;
}

#class_battle {
  margin-top: 30px;
}

#class_battle td {
  text-align: center;
  vertical-align: top;
}

#class_battle meter {
  display: block;
  margin: 20px auto;
  width: 150px;
}

#class_battle .skill_button {
  display: block;
  font-family: 'Arvo';
  font-size: 1em;
  background-color: #A23;
  color: white;
  padding: 5px;
  border-radius: 5px;
  border: 0;
  width: 150px;
  margin-bottom: 10px;
  cursor: pointer;
}

#class_battle .skill_button:disabled {
  background-color: #CAA;
}

#player_speech, #profimon_speech {
  font-weight: bold;
  color: #478
}
