// Place all the styles related to the Courses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.badge_box {
  display: inline-block;
  color: white;
  background-color: #963;
  width: 70px;
  height: 70px;
  border-radius: 50px;
}

.badge_box .badge_subject {
  margin-top: 25px;
}
