// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

label.inline_label {
  margin-left: 20px;
}

form {
  text-align: center;
  margin-top: 50px;
  font-size: 1.2em;
}

.form_button {
  margin-left: 20px;
  margin-right: 20px;
}

p.sign_up {
  text-align: center;
  font-size: 1.2em;
  margin-top: 40px;
  margin-bottom: 40px;
}

.form_link {
  background-color: #A23;
  color: white;
  padding: 6px;
  border-radius: 5px;
  text-decoration: none;
  margin-left: 20px;
}

.field {
  margin-top: 20px;
}

#table_of_profiles {
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 20px;
}

#table_of_profiles td {
  display: inline-block;
  text-align: center;
  vertical-align: top;
  width: 16%;
  margin: 20px 1.8%;
  padding: 0;
}

.profile_table_cell {
  padding: 40px;
  background-color: #266;
  margin-bottom: 10px;
  padding: 30px 0 25px 0;
}

#table_of_profiles .profile_name_link{
  color: white;
  text-decoration: none;
}

.profile_form_button {
  font-size: 1.3em;
  background-color: #A23;
  color: white;
  padding: 5px;
  border-radius: 5px;
  border: 0;
  text-decoration: none;
}

#table_of_users {
  border-collapse: collapse;
}

#table_of_users td, #table_of_users th {
  vertical-align: top;
  padding-top: 10px;
  padding-bottom: 10px;
}

#table_of_users tr {
  border: solid;
  border-width: 1px 0;
}

#table_of_users tr:first-child {
  border-top: none;
}

#table_of_users tr:last-child {
  border-bottom: none;
}
