// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

label.inline_label {
  margin-left: 20px;
}

form {
  text-align: center;
  margin-top: 50px;
  font-size: 1.2em;
}

.form_button {
  margin-left: 20px;
  margin-right: 20px;
}

p.sign_up {
  text-align: center;
  font-size: 1.2em;
  margin-top: 40px;
  margin-bottom: 40px;
}

.form_link {
  background-color: #A23;
  color: white;
  padding: 6px;
  border-radius: 5px;
  text-decoration: none;
  margin-left: 20px;
}

.field {
  margin-top: 20px;
}

#table_of_profiles {
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 20px;
}

#table_of_profiles td {
  display: inline-block;
  text-align: center;
  vertical-align: top;
  width: 16%;
  margin: 20px 1.8%;
  padding: 0;
}

.profile_table_cell {
  padding: 40px;
  background-color: #266;
  margin-bottom: 10px;
  padding: 30px 0 25px 0;
}

#table_of_profiles .profile_name_link {
  color: #499;
  font-size: 1.2em;
  font-weight: bold;
  text-decoration: none;
}

.profile_form_button {
  font-size: 1.3em;
  background-color: #A23;
  color: white;
  padding: 5px;
  border-radius: 5px;
  border: 0;
  text-decoration: none;
}

.profile_form_button_blue {
  font-size: 1.1em;
  background-color: #366;
  color: white;
  padding: 5px;
  border-radius: 5px;
  border: 0;
  text-decoration: none;
}

.profile_form_button_inline {
  font-size: 1em;
  background-color: #A23;
  color: white;
  margin: 10px 5px;
  padding: 5px;
  border-radius: 5px;
  border: 0;
  text-decoration: none;
}

.profile_form_button_small {
  font-size: 1em;
  display: block;
  background-color: #864;
  color: white;
  margin-top: 10px;
  padding: 5px;
  border-radius: 5px;
  border: 0;
  text-decoration: none;
}

.profile_form_button_small_inline {
  font-size: 1em;
  background-color: #864;
  color: white;
  margin: 10px 5px;
  padding: 5px 50px;
  border-radius: 5px;
  border: 0;
  text-decoration: none;
}

#table_of_users, #table_of_skills, #table_of_courses, #table_of_badges {
  border-collapse: collapse;
}

#table_of_users td, #table_of_users th, #table_of_skills td, #table_of_skills th, #table_of_courses td, #table_of_courses th, #table_of_badges td, #table_of_badges th {
  vertical-align: top;
  padding-top: 10px;
  padding-bottom: 10px;
}

#table_of_users tr, #table_of_skills tr, #table_of_courses tr, #table_of_badges tr {
  border: solid;
  border-width: 1px 0;
}

#table_of_users tr:first-child, #table_of_skills tr:first-child, #table_of_courses tr:first-child, #table_of_badges tr:first-child {
  border-top: none;
}

#table_of_users tr:last-child, #table_of_skills tr:last-child, #table_of_courses tr:last-child, #table_of_badges tr:last-child {
  border-bottom: none;
}
