<div class="main" style="text-align: center; padding: 0; ">
<%= link_to 'List of Users' , users_path, class: "admin_nav_links", style: "margin-right: 10px;" %>
| <%= link_to 'List of Skills' , skills_path, class: "admin_nav_links", style: "margin-left: 10px; margin-right: 10px;" %>
| <%= link_to 'List of Profimon Skills' , profimon_skills_path, class: "admin_nav_links", style: "margin-left: 10px;" %>
</div>
